body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

/*Header section*/
.header-section {
    width: 100%; 
    background: url(images/bg-awh.jpg) no-repeat center; 
    background-size: cover;
    box-shadow: 4px 4px 8px rgb(223, 221, 221);
    margin-bottom: 10%;
}
.header-container {
    color: #fff;
    text-align: center;
    text-shadow: 3px 2px 7px rgb(100, 95, 95);
    padding: 50px 0 50px 0;
    animation: fadeInDown 1.5s forwards;
}
.header-container h1 {
    font-family: "Poppins", serif;
    margin-bottom: 20px;
}
.header-container p {
    font-size: 18px;
    font-family: "Quicksand", serif;
    font-weight: 400px;
    max-width: 700px;
    margin: auto;
}

/* Article section */
.article-container {
    padding: 0px 120px 30px 120px;
    margin: 0;
}
/*Article intro style*/
.article-intro-row {
    margin-bottom: 8%;
}
.article-intro-q {
    padding: 20px 20px 30px 20px;
    border-radius: 8px;
    transition: all 0.3s ease-in-out;
}
.article-intro-q:hover {
    transform: scale(1.05);
}
.article-intro-card {
    border: 0;
}
.article-intro-text {
    padding: 30px ;
    transition: all 0.3s ease-in-out;
}
.article-intro-text:hover {
    transform: scale(1.05);
}
.article-intro-icon {
    width: 120px;
    font-size: 30px;
    color: #fff;
    background-color: #e67a8e;
    border-radius: 100px;
    padding: 15px;
}
/*Article card style*/
.article-card:hover {
    box-shadow: 3px 4px 6px rgb(246, 246, 246);
}
.card-title {
    font-family: 'Poppins',serif;
}
.card-text {
    font-family: 'Teachers', serif;
    overflow: hidden;
    max-height: 5.6em;
    transition: max-height 0.3s ease;
}
input[type="checkbox"]:checked ~ .card-text {
    max-height: 100em;
}
input[type="checkbox"] {
    display: none;
}
.read-more {
    cursor: pointer;
    color: #fff;
    background-color: #9B3268;
    border-radius: 30px;
    box-shadow: 3px 3px 5px #d8d1cc;
    padding: 10px;
    margin: 8px 4px 10px 0;
    float: right;
}
.read-more:hover {
    background-color: #e67a8e;
}
/*Side bar style*/
.sidebar {
    position: sticky;
    top: 17%;
    color: #053b47;
}
.sb-title {
    font-family: 'Poppins', serif;
    font-size: 26px;
    color: #7f1330; 
}
.sb-list {
    font-family: 'Quicksand', serif;
}
.sb-list li:hover {
    font-family: 'Quicksand', serif;
    font-size: 17px;
    padding-left: 4px;
    transition: all 0.5s ease-in-out;
}
/*Article close style*/
.article-cl-text {
    color: #9B3268;
    font-family: 'Poppins', serif;
    padding: 0;
    margin: 0;
}
.article-cl-icon {
    font-size: 40px;
}
.article-cl-text:hover .article-cl-icon {
    font-size: 43px;
}
.article-cl-text:hover {
    color: #9B3268;
    font-family: 'Poppins', serif;
    font-size: 30px;
    transition: all 1s ease-in-out;
}